<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Wine Tasting</h1>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/knowledge">Wine Knowledge</a></li>
        <li><a href="/paras">Wine Parameters</a></li>
        <li><a href="/rank">Ranking List</a></li>
        <li><a href="/judge">Quality Evaluation</a></li>

    </ul>
    <div class="top_funcs">
        <div class="left_box">Left</div>
        <div class="right_box">Right</div>
    </div>
    <table id="top_funcs" border="1">
        <tr>
            <td>Home</td>
            <td>Parameters</td>
            <td>Ranking List</td>
            <td>Quality Evaluation</td>
            <td>Wine Knowledge</td>
        </tr>
    </table>
</body>
</html>